body {
	background-color: azure;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly
}

.flex-item {
	background-color: lightblue;
	height: 100px;
	width: 300px;
	border: solid darkslategray 2px;
	margin: 10px;
}